USE [TAS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_CLAIM]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_CLAIM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_ROLE_CLAIM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RubberAgent]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RubberAgent](
	[AgentId] [bigint] IDENTITY(1,1) NOT NULL,
	[AgentCode] [nvarchar](50) NOT NULL,
	[AgentName] [nvarchar](255) NOT NULL,
	[OwnerName] [nvarchar](255) NULL,
	[AgentPhone] [nvarchar](20) NULL,
	[AgentAddress] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[RegisterPerson] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdatePerson] [nvarchar](50) NULL,
 CONSTRAINT [PK_RubberAgent] PRIMARY KEY CLUSTERED 
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RubberFarm]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RubberFarm](
	[FarmId] [bigint] IDENTITY(1,1) NOT NULL,
	[FarmCode] [nvarchar](50) NOT NULL,
	[AgentCode] [nvarchar](50) NOT NULL,
	[FarmerName] [nvarchar](255) NOT NULL,
	[FarmPhone] [nvarchar](20) NULL,
	[FarmAddress] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[RegisterPerson] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdatePerson] [nvarchar](50) NULL,
	[Polygon] [nvarchar](max) NULL,
	[TotalAreaHa] [decimal](18, 2) NULL,
	[RubberAreaHa] [decimal](18, 2) NULL,
	[TotalExploit] [decimal](18, 2) NULL,
	[Certificates] [nvarchar](max) NULL,
 CONSTRAINT [PK_RubberFarm] PRIMARY KEY CLUSTERED 
(
	[FarmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RubberIntake]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RubberIntake](
	[IntakeId] [bigint] IDENTITY(1,1) NOT NULL,
	[IntakeCode] [nvarchar](50) NULL,
	[FarmCode] [nvarchar](50) NOT NULL,
	[FarmerName] [nvarchar](255) NOT NULL,
	[RubberKg] [decimal](10, 2) NOT NULL,
	[TSCPercent] [decimal](5, 2) NULL,
	[FinishedProductKg] [decimal](10, 2) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[RegisterPerson] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdatePerson] [nvarchar](50) NULL,
	[DRCPercent] [decimal](5, 2) NULL,
	[CentrifugeProductKg] [decimal](10, 2) NOT NULL,
	[AgentCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_RubberIntake] PRIMARY KEY CLUSTERED 
(
	[IntakeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RubberOrder]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RubberOrder](
	[OrderId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](50) NULL,
	[OrderName] [nvarchar](50) NULL,
	[OrderDate] [datetime] NULL,
	[Status] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RubberPond]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RubberPond](
	[PondId] [bigint] IDENTITY(1,1) NOT NULL,
	[PondCode] [nvarchar](50) NOT NULL,
	[AgentCode] [nvarchar](50) NOT NULL,
	[PondName] [nvarchar](255) NOT NULL,
	[CapacityKg] [decimal](10, 2) NOT NULL,
	[DailyCapacityKg] [decimal](10, 2) NOT NULL,
	[CurrentNetKg] [decimal](10, 2) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[RegisterPerson] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdatePerson] [nvarchar](50) NULL,
 CONSTRAINT [PK_RubberPond] PRIMARY KEY CLUSTERED 
(
	[PondId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RubberType]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RubberType](
	[TypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[TypeCode] [nvarchar](50) NOT NULL,
	[TypeName] [nvarchar](255) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdatePerson] [nvarchar](50) NULL,
 CONSTRAINT [PK_RubberType] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACCOUNT]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACCOUNT](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[LogInUtc] [datetime2](7) NULL,
	[LogOutUtc] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_USER_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_CLAIM]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_CLAIM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_USER_CLAIM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_IN_ROLE]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_IN_ROLE](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_USER_IN_ROLE] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_LOGIN]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_LOGIN](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_USER_LOGIN] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_TOKEN]    Script Date: 2/5/2026 10:12:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_TOKEN](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_USER_TOKEN] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251225034004_InitData', N'8.0.20')
GO
SET IDENTITY_INSERT [dbo].[RubberAgent] ON 

INSERT [dbo].[RubberAgent] ([AgentId], [AgentCode], [AgentName], [OwnerName], [AgentPhone], [AgentAddress], [IsActive], [RegisterDate], [RegisterPerson], [UpdateDate], [UpdatePerson]) VALUES (1, N'AG001', N'Đại lý Bình Minh', N'Nguyễn Văn A', N'0901123456', N'Q1, TP.HCM', 1, CAST(N'2025-12-25T10:41:05.0000000' AS DateTime2), N'SEED', NULL, NULL)
INSERT [dbo].[RubberAgent] ([AgentId], [AgentCode], [AgentName], [OwnerName], [AgentPhone], [AgentAddress], [IsActive], [RegisterDate], [RegisterPerson], [UpdateDate], [UpdatePerson]) VALUES (2, N'AG002', N'Đại lý Hưng Thịnh', N'Trần Văn B', N'0902234567', N'Tân Uyên, Bình Dương', 1, CAST(N'2025-12-25T10:41:05.0000000' AS DateTime2), N'SEED', NULL, NULL)
SET IDENTITY_INSERT [dbo].[RubberAgent] OFF
GO
SET IDENTITY_INSERT [dbo].[RubberFarm] ON 

INSERT [dbo].[RubberFarm] ([FarmId], [FarmCode], [AgentCode], [FarmerName], [FarmPhone], [FarmAddress], [IsActive], [RegisterDate], [RegisterPerson], [UpdateDate], [UpdatePerson], [Polygon], [TotalAreaHa], [RubberAreaHa], [TotalExploit], [Certificates]) VALUES (1, N'FR001', N'AG001', N'Vườn Cao Su An Phát', N'0901000001', N'Đồng Phú, Bình Phước', 1, CAST(N'2025-12-25T10:41:05.0000000' AS DateTime2), N'SEED', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RubberFarm] ([FarmId], [FarmCode], [AgentCode], [FarmerName], [FarmPhone], [FarmAddress], [IsActive], [RegisterDate], [RegisterPerson], [UpdateDate], [UpdatePerson], [Polygon], [TotalAreaHa], [RubberAreaHa], [TotalExploit], [Certificates]) VALUES (2, N'FR002', N'AG001', N'Vườn Cao Su Tân Lộc', N'0901000002', N'Chơn Thành, Bình Phước', 1, CAST(N'2025-12-25T10:41:05.0000000' AS DateTime2), N'SEED', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RubberFarm] ([FarmId], [FarmCode], [AgentCode], [FarmerName], [FarmPhone], [FarmAddress], [IsActive], [RegisterDate], [RegisterPerson], [UpdateDate], [UpdatePerson], [Polygon], [TotalAreaHa], [RubberAreaHa], [TotalExploit], [Certificates]) VALUES (3, N'FR003', N'AG002', N'Vườn Cao Su Phú Quý', N'0902000003', N'Bàu Bàng, Bình Dương', 1, CAST(N'2025-12-25T10:41:05.0000000' AS DateTime2), N'SEED', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RubberFarm] OFF
GO
SET IDENTITY_INSERT [dbo].[RubberIntake] ON 

SET IDENTITY_INSERT [dbo].[RubberIntake] OFF
GO
SET IDENTITY_INSERT [dbo].[RubberOrder] ON 

INSERT [dbo].[RubberOrder] ([OrderId], [OrderCode], [OrderName], [OrderDate], [Status], [Note], [CreatedBy], [CreatedDate], [UpdateBy], [UpdateDate]) VALUES (1, N'EXP-2025-099', N'HĐ Michelin Pháp - Q4', CAST(N'2025-12-15T00:00:00.000' AS DateTime), 3, N'Đã thanh toán đủ 100%. Hồ sơ đã lưu kho.', N'SaleAdmin', CAST(N'2025-12-15T00:00:00.000' AS DateTime), N'KeToan', CAST(N'2026-01-05T00:00:00.000' AS DateTime))
INSERT [dbo].[RubberOrder] ([OrderId], [OrderCode], [OrderName], [OrderDate], [Status], [Note], [CreatedBy], [CreatedDate], [UpdateBy], [UpdateDate]) VALUES (2, N'EXP-2026-001', N'Continental Đức - Lô 1', CAST(N'2026-01-10T00:00:00.000' AS DateTime), 2, N'Tàu MAERSK đã rời cảng. ETA Hamburg 20/02.', N'Logistics01', CAST(N'2026-01-10T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[RubberOrder] ([OrderId], [OrderCode], [OrderName], [OrderDate], [Status], [Note], [CreatedBy], [CreatedDate], [UpdateBy], [UpdateDate]) VALUES (3, N'EXP-2026-002', N'Bridgestone Nhật Bản', CAST(N'2026-01-20T00:00:00.000' AS DateTime), 1, N'Đang chờ kết quả kiểm định VLAB để đóng cont.', N'Sale02', CAST(N'2026-01-20T00:00:00.000' AS DateTime), N'QC_Team', CAST(N'2026-02-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RubberOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[RubberPond] ON 

INSERT [dbo].[RubberPond] ([PondId], [PondCode], [AgentCode], [PondName], [CapacityKg], [DailyCapacityKg], [CurrentNetKg], [Status], [RegisterDate], [RegisterPerson], [UpdateDate], [UpdatePerson]) VALUES (1, N'POND__AG001__001', N'AG001', N'Hồ 01 - AG001', CAST(50000.00 AS Decimal(10, 2)), CAST(5000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, CAST(N'2025-12-25T10:41:05.0000000' AS DateTime2), N'SEED', NULL, NULL)
INSERT [dbo].[RubberPond] ([PondId], [PondCode], [AgentCode], [PondName], [CapacityKg], [DailyCapacityKg], [CurrentNetKg], [Status], [RegisterDate], [RegisterPerson], [UpdateDate], [UpdatePerson]) VALUES (2, N'POND__AG002__001', N'AG002', N'Hồ 01 - AG002', CAST(50000.00 AS Decimal(10, 2)), CAST(5000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, CAST(N'2025-12-25T10:41:05.0000000' AS DateTime2), N'SEED', NULL, NULL)
SET IDENTITY_INSERT [dbo].[RubberPond] OFF
GO
SET IDENTITY_INSERT [dbo].[RubberType] ON 

INSERT [dbo].[RubberType] ([TypeId], [TypeCode], [TypeName], [UpdateDate], [UpdatePerson]) VALUES (1, N'LATEX', N'Mủ nước / Latex', CAST(N'2025-12-25T10:41:05.0000000' AS DateTime2), N'SEED')
INSERT [dbo].[RubberType] ([TypeId], [TypeCode], [TypeName], [UpdateDate], [UpdatePerson]) VALUES (2, N'CUPLUMP', N'Mủ chén / Cup-lump', CAST(N'2025-12-25T10:41:05.0000000' AS DateTime2), N'SEED')
SET IDENTITY_INSERT [dbo].[RubberType] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_CLAIM] ON 

INSERT [dbo].[USER_CLAIM] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (1, N'9bad8909-04ef-4454-a035-96cef04bd5f4', N'TAS.Department', N'IT')
INSERT [dbo].[USER_CLAIM] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (2, N'9bad8909-04ef-4454-a035-96cef04bd5f4', N'TAS.Position', N'System Administrator')
INSERT [dbo].[USER_CLAIM] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (3, N'9bad8909-04ef-4454-a035-96cef04bd5f4', N'TAS.EmployeeId', N'EMP001')
SET IDENTITY_INSERT [dbo].[USER_CLAIM] OFF
GO
INSERT [dbo].[USER_IN_ROLE] ([UserId], [RoleId]) VALUES (N'9bad8909-04ef-4454-a035-96cef04bd5f4', N'f6b74a97-75fa-4c4f-b7aa-862388e7bcbc')
INSERT [dbo].[USER_IN_ROLE] ([UserId], [RoleId]) VALUES (N'0f994e6f-62d6-450b-8ab7-a1dd4309e4dc', N'f6b74a97-75fa-4c4f-b7aa-862388e7bcbc')
INSERT [dbo].[USER_IN_ROLE] ([UserId], [RoleId]) VALUES (N'bf101838-9f82-4452-8d5b-c28b1d8f16b9', N'f6b74a97-75fa-4c4f-b7aa-862388e7bcbc')
GO
INSERT [dbo].[USER_LOGIN] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Google', N'google_user_12345', N'Google', N'9bad8909-04ef-4454-a035-96cef04bd5f4')
GO
INSERT [dbo].[USER_ROLE] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'add38721-42a3-4572-8fb2-3221d15c4e73', N'Viewer', N'VIEWER', N'3CB88ED2-E84E-4F5F-8695-99AC0DF426EB')
INSERT [dbo].[USER_ROLE] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'f6b74a97-75fa-4c4f-b7aa-862388e7bcbc', N'User', N'USER', N'695E1B2D-E97F-45E5-9E1D-F41A98D9756B')
INSERT [dbo].[USER_ROLE] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'ba7c2d5f-705c-4f99-a7bd-cfa78f72d4e6', N'Manager', N'MANAGER', N'147F72AA-05D3-4525-B5A3-9FCFD5F387A1')
GO
INSERT [dbo].[USER_TOKEN] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'9bad8909-04ef-4454-a035-96cef04bd5f4', N'TAS', N'DeviceToken', N'DT_393D1E1C-BE46-4A57-9EA9-AC9694F1CA97')
INSERT [dbo].[USER_TOKEN] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'9bad8909-04ef-4454-a035-96cef04bd5f4', N'TAS', N'RefreshToken', N'RT_BFDD1B28-B20C-4597-9C53-6C16B2615092')
INSERT [dbo].[USER_TOKEN] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'bf101838-9f82-4452-8d5b-c28b1d8f16b9', N'TAS', N'RefreshToken', N'RT_25327265-5F70-4DBC-97D0-EE5E4E3A72A3')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_RubberAgent_AgentCode]    Script Date: 2/5/2026 10:12:30 AM ******/
ALTER TABLE [dbo].[RubberAgent] ADD  CONSTRAINT [AK_RubberAgent_AgentCode] UNIQUE NONCLUSTERED 
(
	[AgentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_RubberFarm_FarmCode]    Script Date: 2/5/2026 10:12:30 AM ******/
ALTER TABLE [dbo].[RubberFarm] ADD  CONSTRAINT [AK_RubberFarm_FarmCode] UNIQUE NONCLUSTERED 
(
	[FarmCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RubberAgent] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[RubberAgent] ADD  DEFAULT (sysdatetime()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[RubberFarm] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[RubberFarm] ADD  DEFAULT (sysdatetime()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[RubberIntake] ADD  DEFAULT (CONVERT([tinyint],(1))) FOR [Status]
GO
ALTER TABLE [dbo].[RubberIntake] ADD  DEFAULT (sysdatetime()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[RubberIntake] ADD  DEFAULT ((0)) FOR [CentrifugeProductKg]
GO
ALTER TABLE [dbo].[RubberOrder] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RubberPond] ADD  DEFAULT ((50000.0)) FOR [CapacityKg]
GO
ALTER TABLE [dbo].[RubberPond] ADD  DEFAULT ((5000.0)) FOR [DailyCapacityKg]
GO
ALTER TABLE [dbo].[RubberPond] ADD  DEFAULT ((0.0)) FOR [CurrentNetKg]
GO
ALTER TABLE [dbo].[RubberPond] ADD  DEFAULT (CONVERT([tinyint],(1))) FOR [Status]
GO
ALTER TABLE [dbo].[RubberPond] ADD  DEFAULT (sysdatetime()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[ROLE_CLAIM]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_CLAIM_USER_ROLE_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[USER_ROLE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ROLE_CLAIM] CHECK CONSTRAINT [FK_ROLE_CLAIM_USER_ROLE_RoleId]
GO
ALTER TABLE [dbo].[RubberFarm]  WITH CHECK ADD  CONSTRAINT [FK_RubberFarm_RubberAgent_AgentCode] FOREIGN KEY([AgentCode])
REFERENCES [dbo].[RubberAgent] ([AgentCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RubberFarm] CHECK CONSTRAINT [FK_RubberFarm_RubberAgent_AgentCode]
GO
ALTER TABLE [dbo].[RubberIntake]  WITH CHECK ADD  CONSTRAINT [FK_RubberIntake_RubberFarm_FarmCode] FOREIGN KEY([FarmCode])
REFERENCES [dbo].[RubberFarm] ([FarmCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RubberIntake] CHECK CONSTRAINT [FK_RubberIntake_RubberFarm_FarmCode]
GO
ALTER TABLE [dbo].[RubberPond]  WITH CHECK ADD  CONSTRAINT [FK_RubberPond_RubberAgent_AgentCode] FOREIGN KEY([AgentCode])
REFERENCES [dbo].[RubberAgent] ([AgentCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RubberPond] CHECK CONSTRAINT [FK_RubberPond_RubberAgent_AgentCode]
GO
ALTER TABLE [dbo].[USER_CLAIM]  WITH CHECK ADD  CONSTRAINT [FK_USER_CLAIM_USER_ACCOUNT_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER_ACCOUNT] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_CLAIM] CHECK CONSTRAINT [FK_USER_CLAIM_USER_ACCOUNT_UserId]
GO
ALTER TABLE [dbo].[USER_IN_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_USER_IN_ROLE_USER_ACCOUNT_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER_ACCOUNT] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_IN_ROLE] CHECK CONSTRAINT [FK_USER_IN_ROLE_USER_ACCOUNT_UserId]
GO
ALTER TABLE [dbo].[USER_IN_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_USER_IN_ROLE_USER_ROLE_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[USER_ROLE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_IN_ROLE] CHECK CONSTRAINT [FK_USER_IN_ROLE_USER_ROLE_RoleId]
GO
ALTER TABLE [dbo].[USER_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_USER_LOGIN_USER_ACCOUNT_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER_ACCOUNT] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_LOGIN] CHECK CONSTRAINT [FK_USER_LOGIN_USER_ACCOUNT_UserId]
GO
ALTER TABLE [dbo].[USER_TOKEN]  WITH CHECK ADD  CONSTRAINT [FK_USER_TOKEN_USER_ACCOUNT_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER_ACCOUNT] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_TOKEN] CHECK CONSTRAINT [FK_USER_TOKEN_USER_ACCOUNT_UserId]
GO
