################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TAS-master/Views/Traceability/Index.cshtml
