@{
    
}
@section Style {
    <link rel="stylesheet" href="../Contents/css/Farm/Farm.css">
}

<div class="row">
    <div class="col-12">
        <div class="card table-card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                                
                    </div>
                    <div class="d-flex">
                        <!-- Nút chọn file -->
                        <label for="importExcel" class="btn btn-custom-tas"><i class="ti ti-upload f-20"></i>&nbsp; <span data-i18n="key_importexcel"></span></label>
                        <input type="file" id="importExcel" hidden>
                        <span id="file-name" class="ms-2 d-none"></span>                        
                        <button class="btn btn-custom-tas buttonSearch" data-bs-toggle="modal" data-bs-target="#farmModal">
                            <i class="ti ti-plus f-20"></i>&nbsp;  <span data-i18n="key_themmoi"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="datatable-top">
                        <div class="datatable-dropdown">
                            <label>
                                <span data-i18n="key_rowperpage"></span>:
                                <select class="datatable-selector selector-paging" name="per-page">
                                    <option value="5">5</option>
                                    <option value="10" selected>10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                </select>
                            </label>
                        </div>
                        <div>
                            <label></label>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                    <div id="farmGrid" style="height: 500px;width:100%" class="ag-theme-alpine"></div>
                    <div id="ag-paging-footer" class="ag-paging-button-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Farm/_AddEditModal.cshtml" />
<partial name="~/Views/Farm/_DeleteModal.cshtml" />
<partial name="~/Views/Farm/_MapModal.cshtml" />
<partial name="~/Views/Farm/_StatisticsModal.cshtml" />

@section Scripts {
    <script type="text/javascript" src="~/Contents/js/geoMap.js"></script>
    <script type="text/javascript" src="~/Contents/js/Farm/Farm.js"></script>
}