@using TAS.DTOs;
@using TAS.Resources
@model LoginRequest
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
    var returnUrl = ViewBag.ReturnUrl;
}
@section Style {
    <link rel="stylesheet" href="../Contents/css/Account/Account.css">
}
<!-- [ Pre-loader ] End -->
<div class="auth-main">
    <div class="auth-wrapper v1">
        <div class="auth-form">
            <div class="card my-5">
                <div class="card-body card_auth">
                    <div class="text-center logo_auth">
                        <a href="#"><img src="../Logo/LogoBlack.png" alt="img" width="150"></a>
                    </div>
                    <h4 class="text-center f-w-500 mb-3">@Language.key_loginemail</h4>
                    <form id="loginForm" asp-action="Login" asp-controller="Account" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="returnUrl" value="@returnUrl" />
                        <div class="mb-3">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                            <input type="text" class="form-control" name="UserName" id="username"
                                   placeholder="UserName" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="Password" id="password"
                                   placeholder="Mật khẩu" required>
                        </div>
                        <div class="d-flex mt-1 justify-content-between align-items-center">
                            <div class="form-check">
                                <input class="form-check-input input-primary" type="checkbox" id="rememberMe" checked="">
                                <label class="form-check-label text-muted" for="rememberMe">Remember me?</label>
                            </div>
                            @* <h6 class="text-secondary f-w-400 mb-0">
                                <a href="#">Forgot Password?</a>
                            </h6> *@
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-custom-tas-action" id="btnLogin">@Language.key_login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>