@using TAS.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    @* <link rel="stylesheet" href="../Contents/css/RubberGarden/RubberGarden.css"> *@
}
<div class="RubberIntake-page">
    <div class="row">
        <div class="col-xl-12">
            <div class="card table-card">
                <div class="card-body">
                    <!-- ========================================
                         TOOLBAR
                    ======================================== -->
                    <div class="datatable-top " style="justify-content:flex-end">
                        <!-- Left side: Filters -->
                        <div class="button_filter_search">
                            <label>@Language.key_congcutimkiem</label>
                            <div>
                                <button type="button" id="btnAdd" class="btn btn-custom-tas-action btn-sm">
                                    <i class="fas fa-plus"></i> <span>@Language.key_themmoi</span>
                                </button>
                                <button type="button" id="btnRefresh" class="btn btn-custom-tas-action btn-sm">
                                    <i class="fas fa-sync-alt"></i><span>@Language.key_reload</span>
                                </button>
                            </div>
                        </div>
                        <!-- Right side: Actions -->
                        <div class="datatable-actions">
                        </div>
                    
                    </div>

                    <!-- ========================================
                         AG-GRID TABLE
                    ======================================== -->
                    <div id="orderGrid" class="ag-theme-alpine" style="height: 600px; width: 100%;"></div>
                    <div id="ag-paging-footer" class="ag-paging-button-wrapper"></div>
                    <!-- ========================================
                         HIDDEN FILE INPUT
                    ======================================== -->
                    <input type="file" id="fileImport" accept=".xlsx,.xls" style="display:none;" onchange="handleFileImport(event)" />
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Order/_AddEditModal.cshtml" />

<!-- ========================================
     SCRIPTS
======================================== -->
@section Scripts {
    <!-- Custom JS -->
    <script src="~/Contents/js/Order/Order.js"></script>
    <script>
        var agPaging = 'ag-paging-footer';
        var IsOptionAll = false;
        initPage();
    </script>
}

@section Styles {
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Contents/css/Order.css" />
}