.card-body{
    padding: 0 !important;
}
.ag-root,
.ag-body,
.ag-center-cols-container,
.ag-cell {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
}
.ag-cell .ag-cell-value {
    order: 3;
}

.ag-cell .ag-row-drag {
    order: 2;
}

.ag-cell .ag-selection-checkbox {
    order: 1;
}
.ag-header-cell .ag-checkbox-input-wrapper {
    margin-left: 10px;
}
.ag-row-drag, .ag-selection-checkbox{
    margin: 0 4px;
}
/*.ag-header-cell[col-id="maNhaVuon"] {
    margin: 0 -3px;
}*/
.ag-header-cell .ag-floating-filter-button, .ag-icon-menu {
    display: none !important;
}

.ag-header-cell .ag-input-wrapper {
    justify-content:center;
    
}
.ag-header-cell .ag-input-field-input{
    max-width: calc(100% - 20px);
}



.ag-pinned-left-cols-container .ag-cell:not(div[col-id="IS_ACTIVE"]), .ag-center-cols-container .ag-cell:not(div[col-id="IS_CHECK"]):not(div[col-id="IS_ACTIVE"]):not(div[col-id="Edit"]) {
    margin: 1px;
    padding: 0px !important;
}



.search-box {
    display:inline-block;
}
.datatable-selector, .form-select, .searchInput {
    width: 300px !important;
    padding: 5px !important;
    margin-left:10px !important;
}
.card-header {
    padding: 15px !important;
}

.form-label {   
    margin: 0 !important;
}

.btn:not(.Col-orderName), .introjs-tooltip .introjs-button {
    border-radius: 4px !important;
    padding: 5px 8px 5px 5px !important;
}

.buttonSearch {
    display: inline;
    align-items: center;
    margin-left: 5px;
    height: 35px !important;
}

/* css select 2 */
.select2-search--dropdown .select2-search__field {
    border-radius: 5px;
    padding: 2px !important;
    margin: 3px 0;
}
.select2-container {
    margin-left: 0px;
}
/* Style adjustments for form check labels */
.form-check-label {
    margin-right: 10px;
    margin-top: 2px;
}

/* Center align sidebar header content */
.pc-sidebar .m-header {
	justify-content: center;
}
/* Dropdown item hover and active state */
.dropdown .dropdown-item.active, .dropdown .dropdown-item:active, .dropdown .dropdown-item:focus, .dropdown .dropdown-item:hover {
    background: var(--pc-sidebar-active-color) !important;
    color: #ffffff !important;
}
.dropdown-menu .dropdown-item {
    margin: 5px 0;
}
.btn-check:active + .button_action_custom, .btn-check:checked + .button_action_custom, .button_action_custom.focus, .button_action_custom:focus, .button_action_custom:hover, .button_action_custom:not(:disabled):not(.disabled).active, .button_action_custom:not(:disabled):not(.disabled):active, .show > .button_action_custom.dropdown-toggle {
    border-color: rgb(255 255 255 / 0%) !important;
}
/*.btn-check:active + .btn-link-danger, .btn-check:checked + .btn-link-danger, .btn-link-danger.focus, .btn-link-danger:focus, .btn-link-danger:hover, .btn-link-danger:not(:disabled):not(.disabled).active, .btn-link-danger:not(:disabled):not(.disabled):active, .show > .btn-link-danger.dropdown-toggle {
    border-color: rgb(255 255 255 / 0%) !important;
}
.btn-check:active + .btn-link-success, .btn-check:checked + .btn-link-success, .btn-link-success.focus, .btn-link-success:focus, .btn-link-success:hover, .btn-link-success:not(:disabled):not(.disabled).active, .btn-link-success:not(:disabled):not(.disabled):active, .show > .btn-link-success.dropdown-toggle {
    border-color: rgb(255 255 255 / 0%) !important;
}
*/
.page-item.active button {
    background: #5b6b79 !important;
    color: #fff !important;
    border-color: #5b6b79 !important;
}

.btn-light-danger {
    border-color: rgb(252 233 233 / 0%) !important;
}
.btn-light-success {
    border-color: rgb(252 233 233 / 0%) !important;
}
.btn-light-warning {
    border-color: rgb(252 233 233 / 0%) !important;
}
.btn-light-info {
    border-color: rgb(252 233 233 / 0%) !important;
}
.btn-light-primary {
    border-color: rgb(252 233 233 / 0%) !important;
}
.btn-light-secondary {
    border-color: rgb(252 233 233 / 0%) !important;
}
.btn-light-dark {
    border-color: rgb(252 233 233 / 0%) !important;
}
/* vị trí khi mở dropdown */
.select2-container--open .select2-dropdown {
    left: 0px;
}

 /* css paging ag-grid */
.ag-paging-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 15px !important;
}
.grid-paging {
    display: flex;
    margin-bottom: 0 !important;
}

    .grid-paging li.page-item {
        list-style-type: none;
        margin: auto 5px;
        color: #000;
    }

        .grid-paging li.page-item:not(.active) .page-link i {
            color: #000 !important;
        }

        .grid-paging li.page-item.disabled .page-link {
            color: #cdcdcd !important;
        }

        .grid-paging li.page-item:hover:not(.disabled) .page-link {
            color: #fff !important;
        }

        .grid-paging li.page-item.active .page-link.btn {
            cursor: default;
        }
/* css paging ag-grid */


.button_action_custom {
    margin-left: 5px;
}

label.btn_custom {
    cursor: pointer;
    margin-bottom:9px;
}
.select2-container--open .select2-dropdown {
    z-index: 1091;
}
.datatable-selector, .form-select, .searchInput {
    margin-left: 0 !important;
}
#AddNewRubber .select2-container {
    margin-left: 0 !important;
}
.ag-text-field-input {
    padding: 7px;
    width: 100%;
    border-radius: 4px !important;
}

div.ag-cell-value:not(div[col-id="ag-Grid-AutoColumn"]) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ag-menu-option {
    border-radius: 6px !important;
    display: block;
    padding: 0;
    /*display: block;*/
}
    .ag-menu-option:hover {
        background-color: #404040b5;
        border-radius: 6px !important;
        display: block;
        padding: 0;
        color: #fff;
    }
.ag-menu-option-icon span.ag-icon {
    /*color: white;*/
}
.ag-popup-child {
    background-color: aliceblue !important;
    border-radius: 5px !important;
}
.ag-menu-option-icon{
    padding: 10px 0;
}
.ag-menu-list {
    padding: 5px !important;
}
.ag-cell-highlight {
    background-color: #51515126 !important;
}
.ag-cell-range-selected-1:not(.ag-cell-focus), .ag-root:not(.ag-context-menu-open) .ag-body-viewport:not(.ag-has-focus) .ag-cell-range-selected-1:not(.ag-cell-inline-editing) {
    border: 1px solid #918f8f !important;
}
.ag-ltr .ag-cell-range-single-cell {
    border: 1px solid #918f8f !important;
}
.ag-cell .ag-cell-value {
    height: 105%;
    margin-right: 0px;
}
.ag-cell-wrapper .ag-cell-value {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ag-header-icon {
    display: none !important;
}
.ag-select-list-item {
    padding: 20px 9px !important;
}

	.ag-select-list-item:hover {
		background-color: #404040d6 !important;
        color: #fff;
	}

/*.ag-cell-inline-editing .ag-cell-wrapper, .ag-cell-inline-editing .ag-cell-edit-wrapper, .ag-cell-inline-editing .ag-cell-editor, .ag-cell-inline-editing .ag-cell-editor .ag-wrapper, .ag-cell-inline-editing .ag-cell-editor input {
    height: 85% !important;
    width: 95%;
    margin: 0 auto;
}*/
#selectorPaging {
    width: 50px !important;
    margin-left: 10px !important;
}
.grid-info {
    display: flex;
    align-items: center;
}
select.cboSelect2NoSearch{
    width: 150px !important;
}
.div_cbo {
    display: inline !important;
    margin: 5px 10px 5px 0px;
}
.grid-info .select2-container {
    margin-right: 10px !important;
}
li.page-item button.page-link {
    padding: 5px 10px !important;
}
.ag-paging-grid {
    display: flex;
    align-items: center;
}
.grid-paging, .grid-info .ag-paging-grid select{
    margin: 0 10px;
}