@using TAS.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    <link rel="stylesheet" href="../Contents/css/Traceability/Traceability.css">
}
<div class="row">
    <div class="col-12">
        <div class="card table-card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="form-check form-switch switch-lg">
                            <input class="form-check-input input-primary f-16" type="checkbox" id="ChkAll" checked="checked">
                            <label class="form-check-label" for="ChkAll" id="labelChkAll">@Language.key_showall</label>
                        </div>
                    </div>
                    <div class="d-flex">
                        <!-- Toggle & Toolbar -->
                        <div class="toolbar">
                            <div class="toolbar-right">
                                <button id="btnExpandAll" class="btn btn-custom-tas">
                                    <i class="fas fa-expand-alt"></i> Expand All
                                </button>
                                <button id="btnCollapseAll" class="btn btn-custom-tas">
                                    <i class="fas fa-compress-alt"></i> Collapse All
                                </button>
                                <button id="btnExport" class="btn btn-custom-tas">
                                    <i class="fas fa-file-excel"></i> Export Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="datatable-top">
                        <div class="datatable-dropdown">
                            <label> </label>
                        </div>
                        <div>
                            <label></label>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                    <div id="traceabilityGrid" style="height: 500px;width:100%" class="ag-theme-alpine"></div>
                    <div id="ag-paging-footer" class="ag-paging-button-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================
     SCRIPTS
======================================== -->
@section Scripts {

    <!-- Custom JS -->
    <script type="text/javascript" src="~/Contents/js/TraceabilityRubber/TraceabilityRubber.js"></script>
    <script>
        var agPaging = 'ag-paging-footer';
        var IsOptionAll = false;
        initTraceabilityTableAG();
    </script>

}
@section Styles {
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Contents/css/Traceability/Traceability.css" />
}