<!-- Map Modal for Drawing Polygon -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vẽ vùng hoạt động</h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="map" style="width: 100%; height: 500px;"></div>
                <small class="text-muted">Click để vẽ vùng hoạt động của đại lý</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom-tas" data-bs-dismiss="modal">Đóng</button>
                <button type="button" id="btnSavePolygon" class="btn btn-custom-tas">
                    <i class="fas fa-save"></i> Lưu vùng
                </button>
            </div>
        </div>
    </div>
</div>