@{

}
@section Style {
    <link rel="stylesheet" href="../Contents/css/Agent/Agent.css">
}
<div class="row">
    <div class="col-12">
        <div class="card table-card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                    </div>
                    <div class="d-flex">
                        <!-- Nút chọn file -->
                        <label for="importExcelAgent" class="btn btn-primary"><i class="ti ti-upload f-20"></i>&nbsp; <span data-i18n="key_importexcel"></span></label>
                        <input type="file" id="importExcelAgent" hidden>
                        <span id="file-name" class="ms-2 d-none"></span>
                        <button onclick="onExportTemplateExcel()" class="btn btn-primary buttonSearch"><i class="ti ti-file-x f-20"></i>&nbsp; Mẫu Excel</button>
                        <button class="btn btn-primary buttonSearch" data-bs-toggle="modal" data-bs-target="#AddNewRubberAgent"><i class="ti ti-plus f-20"></i>&nbsp;  <span data-i18n="key_themmoi"></span></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <!-- Action Buttons -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="button" id="btnAdd" class="btn btn-success">
                                <i class="fas fa-plus"></i> Thêm mới
                            </button>
                            <button type="button" id="btnBulkDelete" class="btn btn-danger" disabled>
                                <i class="fas fa-trash"></i> Xóa đã chọn (<span id="selectedCount">0</span>)
                            </button>
                            <button type="button" id="btnExport" class="btn btn-info">
                                <i class="fas fa-file-excel"></i> Xuất Excel
                            </button>
                            <button type="button" id="btnRefresh" class="btn btn-secondary">
                                <i class="fas fa-sync"></i> Làm mới
                            </button>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                    <div id="agentGrid" style="height: 500px;width:100%" class="ag-theme-alpine"></div>
                    <div id="ag-paging-footer" class="ag-paging-button-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Agent/_AddEditModal.cshtml" />
<partial name="~/Views/Agent/_DeleteModal.cshtml" />
<partial name="~/Views/Agent/_MapModal.cshtml" />

@section Scripts {
    <script type="text/javascript" src="~/Contents/js/Agent/Agent.js"></script>
    @* <script>
        // var listdataEventsActual;
        var Agent = '#AgentGrid';
        var agPaging = 'ag-paging-footer';
        var IsOptionAll = false;
        CreateGridAgent(true);
        CreateRowDataAgent();
          //đăng ký select trang
        ApplyCboSelect2('selectorPaging');
        $('#selectorPaging').change(function (e) {
            let selectPage = $(this).val();
            IsOptionAll = selectPage == '*';
            RefreshAllGridWhenChangeData();
        });
    </script> *@
}