@{
    // var ListFarmCode = ViewBag.ComboFarmCode;
}
@section Style {
    <link rel="stylesheet" href="../Contents/css/RubberGarden/RubberGarden.css">
}
<div class="row RubberGaden-page">
    <div class="col-12">
        <div class="card table-card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <div class="div_cbo">
                            <label class="form-label" for="inputState" data-i18n="key_agent"></label>
                            <select id="ListCboAgent" class="form-select cboSelect2NoSearch"></select>
                        </div>
                        <div class="div_cbo">
                            <label class="form-label" for="inputState">Loại Nguyên liệu</label>
                            <select id="ListCboType" class="form-select cboSelect2NoSearch">
                                <option value="1" selected>Mủ Nước</option>
                                <option value="2">Mủ Đông</option>
                                <option value="3">Mủ Ly Tâm</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex">
                        <!-- Nút chọn file -->
                        <label for="importExcel" class="btn btn-primary"><i class="ti ti-upload f-20"></i>&nbsp; <span data-i18n="key_importexcel"></span></label>
                        <input type="file" id="importExcel" hidden>
                        <span id="file-name" class="ms-2 d-none"></span>
                        <button onclick="InputNameFile(1)" class="btn btn-primary buttonSearch"><i class="ti ti-download f-20"></i>&nbsp; <span data-i18n="key_xuatexcel"></span></button>
                        <button onclick="onExportTemplateExcel()" class="btn btn-primary buttonSearch"><i class="ti ti-file-x f-20"></i>&nbsp; <span data-i18n="key_mauexcel"></span></button>
                        <button class="btn btn-primary buttonSearch" data-bs-toggle="modal" data-bs-target="#AddNewRubber"><i class="ti ti-plus f-20"></i>&nbsp; <span data-i18n="key_themmoi"></span></button>
                        <button onclick="RefreshAllGridWhenChangeData()" class="btn btn-primary buttonSearch"><i class="ti ti-refresh"></i>&nbsp;  <span data-i18n="key_lammoi"></span></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @* <div class="datatable-top label_row">
                        <div class="datatable-dropdown">
                            <label>
                                <span data-i18n="key_rowperpage"></span>:
                                
                            </label>
                        </div>
                    </div> *@
                    <div class="datatable-top_custom">
                        <div class="button_filter">
                            <div class="statusOrder divboxOrder">
                                <label class="form-label" for="ListCboStatusOrder">
                                    <span data-i18n="key_trangthai"></span>:
                                    <select id="ListCboStatusOrder" class="form-select cboSelect2NoSearch">
                                        <option value="*" selected data-i18n="key_vuilongchon"></option>
                                        <option value="1" data-i18n="key_dangxuly"></option>
                                        <option value="2" data-i18n="key_taodonhang"></option>
                                    </select>
                                </label>
                                <button onclick="ApproveAllDataByStatus(1)" class="btn btn-primary buttonSearch">
                                    <i class="ti ti-arrow-up-right-circle f-20"></i>&nbsp;  <span data-i18n="key_apdung"></span>
                                </button>
                            </div>
                            <div class="Order divboxOrder">
                                <label class="form-label" for="ListCboOrder">
                                    <span data-i18n="key_donhang"></span>:
                                    <select id="ListCboOrder" class="form-select cboSelect2Search"></select>
                                </label>
                                <button data-bs-toggle="modal" data-bs-target="#AddNewOrder" class="btn btn-primary buttonSearch">
                                    <i class="ti ti-arrow-up-right-circle f-20"></i>&nbsp;  <span data-i18n="key_taodonhangmoi"></span>
                                </button>
                            </div>
                            <div class="Order1 divboxOrder">
                                <label class="form-label" for="ListCboLake">
                                    <span data-i18n="key_ho"></span>:
                                    <select id="ListCboLake" class="form-select cboSelect2NoSearch"></select>
                                </label>
                                <button data-bs-toggle="modal" data-bs-target="#AddNewOrder" class="btn btn-primary buttonSearch">
                                    <i class="ti ti-arrow-up-right-circle f-20"></i>&nbsp;  <span data-i18n="key_taodonhangmoi"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                    <div id="RubberGardenGrid" style="height: 500px;width:100%" class="ag-theme-alpine"></div>
                    <div id="ag-paging-footer" class="ag-paging-button-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Shared/Modal/_PopupAddNewRubber.cshtml" 
        view-data='@(new ViewDataDictionary(ViewData) {
             ["PopupTitle"] = "Thêm mới Rubber",
             ["Mode"] = "create",
             ["ListFarmCode"] = @Json.Serialize(ViewBag.ComboFarmCode) 
         })' />
@* <partial name="~/Views/Shared/Modal/_PopupAddNewOrder.cshtml" />  *@
@section Scripts {
    <script type="text/javascript" src="~/Contents/js/RubberGarden/RubberGarden.js"></script>
    <script>
        ImportExcelRubberGarden('importExcel');
        var listdataEventsActual;
        var agPaging = 'ag-paging-footer';
        var RubberGarden = '#RubberGardenGrid';
        var IsOptionAll = false;
        var listComboFarmCode = @Json.Serialize(ViewBag.ComboFarmCode)
        CreateGridRubberGarden();
        //đăng ký select trang 
        $('#selectorPaging').change(function (e) {
            let selectPage = $(this).val();
            IsOptionAll = selectPage == '*';
            RefreshAllGridWhenChangeData();
        });
        $('#ListCboType').change(function (e) {
            let dataType = $(this).val();
            if(dataType == '1'){
               gridApi.setColumnsVisible(['tscPercent'], true);
               gridApi.setColumnsVisible(['finishedProductKg'], true);
               gridApi.setColumnsVisible(['centrifugeProductKg'], false);
               gridApi.setColumnsVisible(['drcPercent'], false);
            }
            else if(dataType == '2'){
                gridApi.setColumnsVisible(['tscPercent'], false);
                gridApi.setColumnsVisible(['drcPercent'], true);
                gridApi.setColumnsVisible(['finishedProductKg'], true);
                gridApi.setColumnsVisible(['centrifugeProductKg'], false);
            }
            else if(dataType == '3'){
                gridApi.setColumnsVisible(['tscPercent'], true);
                gridApi.setColumnsVisible(['centrifugeProductKg'], true);
                gridApi.setColumnsVisible(['finishedProductKg'], false);
            }
           gridApi.sizeColumnsToFit();
        });
        //đăng ký select công ty
        $('#ListCboAgent').change(function (e) {
            let dataAgent = $(this).val();
            if(dataAgent == '*'){
                gridApi.setGridOption("rowData", ListDataFull);
            }
            else{
                gridApi.setGridOption("rowData", ListDataFull.filter(x => x.agentCode == dataAgent));
            }
        });
        //đăng ký select loại
        GetAllCombo();        
    </script>
}