.validation-summary-errors ul li{
	list-style-type: none;
}

.validation-summary-errors ul {
	margin-bottom: 0 !important;
	padding: 0;
}
.logo_auth {
	height: 130px;
}
.card_auth {
	padding-top: 0px !important;
	box-shadow: 2px 3px 8px 0px;
	border-radius: 5px;
}
.btn-custom-tas-action {
	background-color: #066fd1;
	color: #fff;
}

	.btn-custom-tas-action:hover {
		opacity: 0.7;
		background-color: #066fd1;
		color: #fff;
	}
.form-control{
	padding:8px !important;
}