.validation-summary-errors ul li{
	list-style-type: none;
}

.validation-summary-errors ul {
	margin-bottom: 0 !important;
	padding: 0;
}
.logo_auth {
	height: 130px;
}
.card_auth {
	padding-top: 0px !important;
}
